@model CalendarEventDate

@{
    ViewData["Title"] = "Add Event Date";
}

<form asp-action="Index" asp-controller="ApiEventDate" method="post" data-ajax="true" data-ajax-method="post"  data-ajax-complete="postEvent">
`       <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Event for the Day</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="NepaliDate" class="form-control"/>
                    <span asp-validation-for="NepaliDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EventName" class="control-label"></label>
                    <select asp-items="@ViewBag.EventList" asp-for="EventName" class="form-control"></select>
                    <span asp-validation-for="EventName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EventDescription" class="control-label"></label>
                    <input asp-for="EventDescription" class="form-control" />
                    <span asp-validation-for="EventDescription" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
</form>

<script>
    $(document).ready(function(){       
        postEvent = function (xhr) {
            alert("Event Added Succeffuly");
            $('.btn-close').click();
            location.reload();
        }
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}