<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>User Login</title>
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
    
    <div class="container ">
        
        <h1>Log In</h1>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Index" asp-controller="ApiUserList" method="post">
                    <h1 class="h3 mb-3 fw-normal">Please LogIn</h1>

                    <div class="form-floating">
                        <label for="floatingInput">User Name</label>
                        <input type="text" name="UserName" class="form-control" id="floatingInput" placeholder="name@example.com">
                        
                    </div>
                    <div class="form-floating">
                        <label for="floatingPassword">Password</label>
                        <input type="password" name="UserPassword" class="form-control" id="floatingPassword" placeholder="Password">
                        
                    </div>

                    <button class="btn btn-primary w-100 mt-3 py-2" type="submit">Sign in</button>
                    <a asp-action="Register" class="btn btn-warning w-100 py-2 mt-2">Register Yourself.</a>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
 
