<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>User Login</title>
</head>
<body>
    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Log In</p>
                                    <form asp-action="Index" asp-controller="ApiUserList" method="post">
                                        <div class="form-floating">
                                            <label for="floatingInput">User Name</label>
                                            <input type="text" name="UserName" class="form-control" id="floatingInput" placeholder="name@example.com">

                                        </div>
                                        <div class="form-floating">
                                            <label for="floatingPassword">Password</label>
                                            <input type="password" name="UserPassword" class="form-control" id="floatingPassword" placeholder="Password">

                                        </div>
                                        <button class="btn btn-primary w-100 mt-3 py-2" type="submit">Login</button>
                                    </form>
                                    <div>Don't have account: <a asp-action="Register">Register Yourself.</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
 
